* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}
  /* Inicio menu */
  body {
    margin: 0;
    background-color: #ffffff;
    min-height: 100%;
    --Color-orange-logo: #D9603E;
    --Color-grey-logo: #42505E;
    --Color-blue-logo: #0163B9;
    --Color-green-logo: #7BCC48;
    --Color-yellow-logo: #FDF459;
    --Color-red-logo: #990000;
  }
  #nav-bar.menuScroll {
    background-color: rgba(255, 255, 255, 0.87);
    transition: 0.7s;
    color: black;
  }
 .menuScroll .elements {
    color: black;
    transition: 0.7s;
    text-decoration: none;
  }
  #nav-bar.menuScroll li {
    color: black;
  }
  .imagen {
    width: 25vh;
    min-width: 23vh;
    z-index: 1;
    flex: none 0 120px;
    position: relative;
    margin-left: 15px;
  }
  .menu-imagen {
    display: none;
    flex: 0 1 5vh;
  }
  .menu .elements {
    width: 100px;
    color: white;
    text-decoration: none;
  }
  #nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: black;
    position: fixed;
    width: 100%;
    height: 15vh;
    z-index: 999;
    transition: 0.5s;
  }
  .menu li{
    display: inline-block;
    padding: 9px;
    font-size: 23px;
    color: white;
    text-decoration: none;
  }
  .links::after {
    content: '';
    width: 15px;
    height: 5px;
    background-color: red;
  }
  .menu-activo {
    margin-top: 0;
    text-decoration: none;  
  }
  .menu .elements {
    width: 100px;
    color: white;
    text-decoration: none;  
  }
  .menuScroll {
    background-color: black;
  }
  a.links {
    text-decoration: none;
  }
  @media (max-width:695px) {
    .menu-imagen {
        display: block;
        width: 5%;
        height: 100px;
        margin-top: -7px;
        object-fit: contain;
        aspect-ratio: 2/1;
      }
      #nav-bar {
        display: block;
        height: 16.1vh;
      }
      #nav-bar>.menu-imagen {
        display: grid;
        place-items: center;
      }
      .imagen {
        width: 10vh;
        display: flex;
        flex-wrap: wrap;
        transition: 0.3s;
      }
      .imagenes {
        display: flex;
        justify-content: space-around;
        align-items: start;
      }
      .menu {
        display: flex;
        justify-content: center;
        position: fixed;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: #0a0a0a81;
        color: white;
        margin-top: -150%;
        transition: 0.5s;
        position: fixed;
        width: 100%;
        text-decoration: none;
      }
      .menuScroll .menu-activo {
        background-color: rgba(255, 255, 255, 0.87);
      }
      .menu li {
          display: block;
          color: white;
          text-decoration: none;
      }
      .menu-activo {
        margin-top: -0.6%;
        transition: 0.5s;
        position: relative;
        display: flex;
        justify-content: center;
        position: fixed;
        align-items: center;
        flex-direction: column;
        width: 100%; 
        text-decoration: none;
      }

      .menu li {
        padding: 20px;
        text-decoration: none;
        color: white;
        width: auto;
        text-align: center;
        text-decoration: none;
      }
      .menu li:hover {
        background: #4444;
        color: black;
        transition: 0.5s;
      }
      .menu .elements {
        width: 100px;
        color: white;
        text-decoration: none;
      }
  }
  /*Fin Menu */
    /* ************************************************************************************************************************************
  **************************************************************************************************************************************** */
  /* Fondo Inicio/ Inicio */
  .Container-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 1 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
  }
  .container-Text {
    height: 35vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 50%;
    text-align: end;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 2;
  }
  .container-Text img {
    display: flex;
    width: 35vh;
    flex-basis: 60vh;
  }
  .Container-info .fondo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1 1 100%;
    filter: brightness(50%);
  }
  .container-Text > .textContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    text-align: end;
    margin-right: auto;
    color: rgb(223, 219, 219);
  }
  .textContainer h1 { 
    padding: 15px;
    padding-right: 20px;
  }
  .textContainer p {
    padding: 10px;
    padding-right: 20px;
  }
  @media (max-width:922px) {
    .Container-info > .container-Text {
      width: 100%;
      height: 79%;
      display: flex;
      align-items: end;
      margin-top: 8vh;
      flex: 1 1 100%;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .container-Text {
      height: 5vh;
      position: absolute;
    }
    .container-Text {
      height: 35vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 50%;
      text-align: end;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .container-Text > .textContainer {
      width: 50%;
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      text-align: center;
      margin-left: auto;
    }
    .container-Text img {
      display: flex;
      flex-basis: 15vh;
      height: 25vh;
    }
  }
  /* Fondo inicio/ Final */
  /* ************************************************************************************************************************************
  **************************************************************************************************************************************** */
  /* Columnas */
    .InfoGeneral {
     width: 100%;
     height: auto;
     display: flex;
  }
    .column1R {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      margin: 3px;
      padding: 1px;
      position: relative;
      margin-left: 169px;
      margin-right: 223px;
      font-size: 20px;
    }
    .column1R p {
      padding: 5px;
      margin: 5px;
      text-align: justify;
      color: #000000;
    }
    .column1R h1 {
      text-align: justify;
      font-size: 35px;
      margin-top: 18px;
      margin: 4px;
      border-bottom: 5px solid var(--Color-yellow-logo);
      color: #5f5c5c;
    }
    .column1R h4 {
      text-align: start;
      margin-top: 18px;
      margin: 10px;
    }
    .LargeText h1 {
      width: 55vh;
    }
  @media (max-width:670px) {
    .LargeText h1 {
      width: 55vh;
  }
  .column1R {
    width: 100%;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .column1R h1 {
      text-align: center;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 33px;
      margin-top: 18px;
      margin: -2px;

  }
}
    .icons a{
      width: 55vh;
      height: 20vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgba(170, 168, 168, 0.842);
      position: sticky;
      padding: auto;
      margin: 7px;
      text-decoration: none;
      color: black;
  }
.botonSpace {
  display: none;
}
  .openButton {
    display: none;
  }

  footer {
    width: 100%;
    height: auto;
    background-color: var(--Color-grey-logo);
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    text-align: start;
  }
  .icons {
    width: 45vh;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .icon1 {
        width: 6.5vh;
        height: 2.5em;
        background-image: url(instagram.png); 
        background-size: 40px; 
        background-repeat: no-repeat;
        transition: 0.5s;
    }
    .icon1:hover {
        background-image: url(instagram-hover.png);
        transition: 0.5s;
    }
    .icon2 {
        background-image: url(facebook.png); 
        background-size: 41px; 
        background-repeat: no-repeat;
        transition: 0.5s;
    }
    .icon2:hover {
        background-image: url(facebook-hover.png);
        transition: 0.5s;
    }
    .icon3 {
        background-image: url(twitter.png); 
        background-size: 40px; 
        background-repeat: no-repeat;
        filter: grayscale(100);
        transition: 0.5s;
    }
    .icon3:hover {
        filter: grayscale(0);
        transition: 0.5s;
    }
    .logoPureza {
        filter: grayscale(100);
        transition: 0.5s;
    }
    .logoPureza:hover {
        filter: grayscale(0);
        transition: 0.5s;
    }
    a .logo-pureza-colegio {
        filter: grayscale(100);
        transition: 0.5s;
    }
    a .logo-pureza-colegio:hover {
        filter: grayscale(0);
        transition: 0.5s;
    }
