* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
    /* Inicio menu */
    body {
      margin: 0;
      background-color: #fff;
      min-height: 100%;
      --Color-orange-logo: #D9603E;
      --Color-grey-logo: #42505E;
      --Color-blue-logo: #0163B9;
      --Color-green-logo: #7BCC48;
      --Color-yellow-logo: #FDF459;
      --Color-red-logo: #990000;
    }
    #nav-bar.menuScroll {
      background-color: rgba(255, 255, 255, 0.87);
      transition: 0.7s;
      color: black;
    }
   .menuScroll .elements {
      color: black;
      transition: 0.7s;
    }
    #nav-bar.menuScroll li {
      color: black;
    }
    .menuScroll .imagen {
       display: block;
       transition: 0.5s;
       min-width: 21vh;
       width: 10vh;
    }
    .menu-imagen {
      display: none;

    }
    .imagen {
      width: 25vh;
      min-width: 25vh;
      z-index: 1;
      flex: none 0 120px;
      position: relative;
      margin-left: 15px;
      display: none;
      transition: 0.5s;
    }
    .menu-imagen {
      display: none;
      flex: 0 1 5vh;
    }
    .menu .elements {
      width: 100px;
      color: white;
    }
    #nav-bar {
      display: flex;
      align-items: start;
      justify-content: space-between;
      background-color: transparent;
      color: black;
      position: fixed;
      width: 100%;
      height: 15vh;
      z-index: 999;
      transition: 0.5s;
    }
    .menu li{
      display: inline-block;
      padding: 9px;
      font-size: 23px;
      color: white;
    }
    .links::after {
      content: '';
      width: 15px;
      height: 5px;
      background-color: red;
    }
    .menu-activo {
      margin-top: 0;
    }
    .menu .elements {
      width: 100px;
      color: white;
    }
    .menuScroll {
      background-color: black;
    }
    @media (max-width:648px) {
      .menu-imagen {
        display: block;
        width: 5%;
        height: 100px;
        margin-top: -7px;
        object-fit: contain;
        aspect-ratio: 2/1;
      }
        #nav-bar {
          display: block;
          height: 16.1vh;
        }
        #nav-bar>.menu-imagen {
          display: grid;
          place-items: center;
        }
        .imagen {
          width: 10vh;
          display: none;
          flex-wrap: wrap;
          transition: 0.3s; /* aca es aca ees aca es aca es aacac eas */
        }
      .menuScroll .imagen {
       display: block;
       transition: 0.5s;
    }
        .imagenes {
          display: flex;
          justify-content: space-around;
          align-items: start;
        }
        .menu {
          display: flex;
          justify-content: center;
          position: fixed;
          align-items: center;
          flex-direction: column;
          text-align: center;
          background-color: #0a0a0a81;
          color: white;
          margin-top: -150%;
          transition: 0.5s;
          position: fixed;
          width: 100%;
        }
        .menuScroll .menu-activo {
          background-color: rgba(255, 255, 255, 0.87);
        }
        .menu li {
            display: block;
            color: white;
        }
        .menu-activo {
          margin-top: -0.6%;
          transition: 0.5s;
          position: relative;
          display: flex;
          justify-content: center;
          position: fixed;
          align-items: center;
          flex-direction: column;
          width: 100%; 
          text-decoration: none;
        }
        .menu-activo a.links {
          text-decoration: none;
        }
        .menu li {
          padding: 20px;
          text-decoration: none;
          color: white;
          width: auto;
          text-align: center;
          text-decoration: none;
        }
        .menu li:hover {
          background: #4444;
          color: black;
          transition: 0.5s;
        }
        .menu .elements {
          width: 100px;
          color: white;
        }
    }
    /*Fin Menu */
    /* Fondo Inicio/ Inicio */
    .Container-info {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: 1 1 100%;
      flex-wrap: wrap;
    }
    .container-Text {
      height: 35vh;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1 1 50%;
      text-align: end;
      flex-wrap: wrap;
      flex-direction: column;
      z-index: 2;
    }
    .container-Text img {
      display: flex;
      width: 80vh;
      flex-basis: 60vh;
      filter: brightness(120%);
    }
    .Container-info .fondo {
      width: 100%;
      height: 100vh;
      display: flex;
      flex: 1 1 100%;
      filter: brightness(50%);
    }
    .container-Text > .textContainer {
      width: 40%;
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      text-align: end;
      margin-right: auto;
      color: rgb(223, 219, 219);
    }
    .textContainer h1 { 
      padding: 15px;
      padding-right: 20px;
    }
    .textContainer p {
      padding: 10px;
      padding-right: 20px;
    }
    @media (max-width:922px) {
      .Container-info > .container-Text {
        width: 100%;
        height: 79%;
        display: flex;
        align-items: end;
        margin-top: 8vh;
        flex: 1 1 100%;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .container-Text {
        height: 5vh;
        position: absolute;
      }
      .container-Text {
        height: 35vh;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 50%;
        text-align: end;
        flex-wrap: wrap;
        flex-direction: column;
      }
      .container-Text > .textContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
        text-align: center;
        margin-left: auto;
      }
      .container-Text img {
        display: flex;
        flex-basis: 15vh;
        height: 25vh;
      }
    }
    /* Fondo inicio/ Final */
    /* sdasdasd */
    @media (min-width:580px) {
      
      #ImgContainer {
        width: auto;  
        height: 60vh;
        display: flex;
        flex: 1 2 100%;
        justify-content: center;
        position: relative;
      }
      .content {
        width: 236px;
        height: 350px;
        padding: auto;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(wepik-export-20230727175852IKrP.png);
        background-size: 290px 390px;
        background-repeat: no-repeat;
        color: white;
        overflow: hidden;
        position: relative;
        z-index: 10;
        transition: 0.5s;
      }
      .contentPC:hover p{
        color: white;
      }
    
      .contentPC p {
        padding: 15px;
        text-align: center;
        color: transparent;
      }
      .contentPC:hover {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: 0 -40px;
      }
    
       .contentPC > h2 { 
         margin-top: 410px;
         transition: 0.5s;
         z-index: 8;
       }
       .contentPC > p { 
        z-index: 7;
      }
      .contentPC > input { 
        z-index: 6;
        border: 2px solid white;
      }
       .contentPC:hover > h2 {
        margin-top: 0;
        transition: 0.5s;
       }
      .contentPC:hover::after {
        content: '';
        width: 290px;
        height: 300px;
        display: flex;
        bottom: 0;  
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); 
        position: absolute;
        filter: brightness(70%);
      }
      .content a #button {
        width: 23vh;
        height: 5vh;
        background-color: var(--Color-orange-logo);
        color: black;
        border-radius: 5px;
        outline: none;
        display: flex;
        flex: 0 1 6px;
        flex-basis: 20px;
        z-index: 9;
        justify-content: center;
        transition: 0.5s;
        align-items: center;
        text-decoration: none;
      }
      .content a #button:hover {
        background: var(--Color-blue-logo);
        color: white;
        text-decoration: none;
      }
      .contentPC a {
        z-index: 10;
        text-decoration: none;
      }
  }

/* asdasdasdasd */
    @media (max-width:573px) {
      #ImgContainer {
     display: flex;
     flex-direction: row;
     justify-content: start;
     position: relative;
     flex-wrap: nowrap;
     flex: 1 1 100%;
     padding: 0;
     margin: 0px;
    }      
    .content {
      width: 236px;
      height: 350px;
      padding: auto;
      margin: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(wepik-export-20230727175852IKrP.png);
      background-size: 290px 390px;
      background-repeat: no-repeat;
      color: white;
      overflow: hidden;
      position: relative;
      z-index: 10;
      transition: 0.5s;
    }
    .content {
      display: flex;
      padding: 0;
      margin: 1px;
      box-shadow: none;
      flex-basis: 25vh;
      flex: 1 1 21vh;
    }
    .content h2 {
      transform: rotate(270deg);
    }
    .contentPC p {
      padding: 15px;
      text-align: center;
      color: transparent;
      z-index: 5;
    }
    .contentPC > h2 { 
      margin-top: 410px;
      transition: 0.5s;
      z-index: 4;
    }
    content p {
      color: transparent;
    }
    .CartasInfo {
      flex-basis: 65vh; 
    }
    .CartasInfo > h2 {
      margin-top: 0;
    }
    .CartasInfo #button{
      display: block;
    }
    .content p {
      color: transparent;
    }
    .CartasInfo p {
      color: white;
    }
    .CartasInfo #button {
      display: block;
    }
    .CartasInfo > h2 {
      transform: rotate(0);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      margin-top: -7px;
      bottom: -0;
      z-index: 5;
    }
    .CartasInfo:hover:after {
      content: '';
      width: 290px;
      height: 300px;
      display: flex;
      bottom: 0;  
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); 
      position: absolute;
      filter: brightness(70%);
    }
    .CartasInfo {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-position: 0 -40px;
    }
    .contentPC::after {
      content: none;
    }
    .content a #button {
      width: 23vh;
      height: 6vh;
      aspect-ratio: 2/2;
      background-color: var(--Color-orange-logo);
      color: white;
      border-radius: 5px;
      outline: none;
      display: flex;
      flex: 0 1 1px;
      flex-basis: 20px;
      justify-content: center;
      font-size: 15px;
      align-items: center;
      transition: 1s;
    }
    .contentPC a {
      z-index: 1;
    }
    .content a #button:hover {
      background: var(--Color-blue-logo);
      color: black;
      text-decoration: none;
      transition: 1s;
    }
    .contentPC a {
      z-index: 10;
      text-decoration: none;
    }
  }
  /* Comidas, bebidas, religion etc */
.containerFood {
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width:1326px) {
  .containerFood {
    width: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
  }
}
.elementsContainer {
  width: 65vh;
  height: 50vh;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  position: relative;
  border-left: 2px solid rgb(202, 200, 200);
}
.elementsContainer:hover { 
  box-shadow: 1px 2px 8px 8px rgba(196, 193, 193, 0.884);
  transition: 0.5s;
}
.elementsContainer img {
  width: 20vh;
  height: 20vh;
  mix-blend-mode: darken;
}
.elementsContainer .button:hover {
   width: 260px;
   height: 38px;
  background: var(--Color-green-logo);
  transition: 0.5s;
  font-size: 20px;
  color: white;
}
.elementsContainer .button {
    width: 250px;
    height: 38px;
    background-color: rgb(216, 208, 208);
    font-size: 18px;
    outline: none;
    border: none;
    color: black;
    transition: 0.5s;
}
.text { 
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
footer {
  width: 100%;
  height: 40vh;
  background-color: var(--Color-grey-logo);
}
.footerContainer {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width:895px) {
  footer {
    height: 65vh;
  }
}
@media (max-width:500px) {
  footer {
    height: 70vh;
  }
}
